* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: 'Roboto', sans-serif;

    body {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .aziz_work {
            width: 100%;
            background-color: #005BAA;
            // background-image: url(../img/pepsi_img.webp);
            height: 100vh;
            background-position: center;
            position: relative;

            .header {
                width: 100%;
                height: 130px;
                background-color: grey;
                display: flex;
                align-items: center;
                background: transparent;

                .logo {
                    margin-left: 100px;
                    width: 70px;
                    height: 80px;
                    position: relative;

                    .red_box {
                        right: 0;
                        position: absolute;
                        width: 70px;
                        height: 70px;
                        border-radius: 50px;
                        background-color: red;
                        border: 3px solid white;
                    }

                    .white_box {
                        top: 42px;
                        right: 37px;
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        background: transparent;
                        border: 3px solid white;
                    }
                }

                .logo_name {
                    color: white;
                    font-weight: bold;
                    font-size: 60px;
                    padding-left: 15px;
                    font-style: oblique;
                }

                .menu {
                    margin-left: 240px;
                    width: 750px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .menu_p {
                        cursor: pointer;
                        color: #9DBADF;
                        font-weight: bold;
                        font-size: 22px;
                    }
                }

                .button {
                    width: 190px;
                    height: 45px;
                    color: white;
                    background: transparent;
                    border: 3px solid white;
                    border-radius: 80px;
                    font-weight: bold;
                    font-size: 18px;
                    margin-left: 250px;
                    cursor: pointer;
                }
            }

            .ger_more_div {
                width: 520px;
                height: 500px;
                background: transparent;
                margin-top: 150px;
                margin-left: 250px;
                transition: .7s ease;
                position: absolute !important;
                bottom: 30%;

                .ger_more_p {
                    color: white;
                    font-weight: bold;
                    font-size: 100px;
                }

                .ger_more_info {
                    padding-top: 30px;
                    color: #9DBADF;
                    font-size: 20px;
                    font-weight: bold;
                }

                .get_more_btn {
                    width: 240px;
                    height: 45px;
                    color: white;
                    background: transparent;
                    border: 3px solid white;
                    border-radius: 80px;
                    font-weight: bold;
                    font-size: 18px;
                    margin-top: 40px;
                    cursor: pointer;
                }
            }

            .icons_div {
                position: absolute;
                width: 66px;
                height: 400px;
                background: transparent;
                top: 500px;
                left: 50px;

                .icons {
                    cursor: pointer;
                    width: 28px;
                    margin-left: 13px;
                    margin-top: 15px;
                    margin-bottom: 45px;
                }
            }
        }

        .aziz_work_two {
            width: 100%;
            height: 330px;
            position: absolute;
            display: flex;
            transition: .7s ease;
            bottom: 0px;
            left: 0px;
            right: 0px;

            .never {
                width: 48%;
                height: 100%;
                background-position: center;
                background-image: url(../img/pepsi_img_two.jpg);
                background-size: cover;
                position: relative;
                box-shadow: 0px 10px 30px;

                .toda_syda {
                    width: 89px;
                    height: 89px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -89px;
                }

                .left {
                    background-color: #2560B7;
                    right: 0;
                }

                .right {
                    background-color: #226EC9;
                    right: 89px;
                }

                .strelki {
                    width: 40px;
                    cursor: pointer;
                }

                .never_p {
                    padding-top: 60px;
                    padding-left: 60px;
                    font-weight: bold;
                    font-size: 30px;
                }

                .never_info {
                    font-size: 18px;
                    color: grey;
                    padding-left: 60px;
                    padding-top: 25px;
                }

                .never_info_two {
                    padding-top: 10px;
                    font-size: 18px;
                    color: grey;
                    padding-left: 60px;
                }
            }

            .diet_div {
                position: absolute;
                top: -27%;
                right: 26%;
                width: 26%;
                height: 127%;
                background-color: black;
                box-shadow: 0px 10px 30px;

                .diet_p {
                    color: white;
                    font-weight: bold;
                    font-size: 30px;
                    padding-top: 120px;
                    padding-left: 80px;
                }

                .diet_info {
                    color: grey;
                    padding-left: 80px;
                    padding-top: 30px;
                    font-size: 18px;
                }

                .diet_info_two {
                    color: grey;
                    padding-left: 80px;
                    padding-top: 10px;
                    font-size: 18px;
                }
            }

            .proceed{
                width: 120px;
                height: 120px;
                background-color: #3688DC;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 23%;
                top: -47%;
                z-index: 100;
                box-shadow: 0px 15px 35px;

                .start{
                    cursor: pointer;
                    width: 35px;
                }
            }

            .history_div {
                position: absolute;
                right: 0;
                top: -27%;
                width: 26%;
                height: 127%;
                background-color: #3688DC;
                box-shadow: 0px 10px 30px;

                .history_p{
                    color: white;
                    font-weight: bold;
                    font-size: 30px;
                    padding-top: 120px;
                    padding-left: 80px;
                }

                .history_info{
                    color: white;
                    padding-left: 80px;
                    padding-top: 30px;
                    font-size: 18px;
                }

                .history_info_two{
                    color: white;
                    padding-left: 80px;
                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }


    }
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 1920px;
    height: 100vh;
    background: linear-gradient(#235BA5, #143676);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;

    .countainer {
        width: 1150px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: linear-gradient(#005BAA, #143676);

    }
}
.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .header_main {
        display: flex;
        gap: 40px;
        color: white;
        font-weight: 600;

        a {
            transition: .3s ease;

            &:hover {
                color: rgb(156, 145, 145);
            }
        }
    }

    .btn {
        width: 150px;
        height: 35px;
        background: none;
        color: white;
        border-radius: 8px;
        border: 2px solid white;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            color: rgb(156, 145, 145);
        }
    }
}

.logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    .main_left {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 50px;

        .main_logo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 450px;
            margin-top: 20px;

            .left img {
                width: 30px;
                height: 28px;
                object-fit: cover;
            }

            .main_logs {
                display: flex;
                flex-direction: column;
                gap: 50px;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }

        .main_classic {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 35px;
            width: 551px;
            color: white;

            .main_classic_top {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    color: white;
                    font-size: 55px;
                    font-weight: 800;
                }

                p {
                    color: #4C72AE;
                }
            }

            .main_classic_body {
                display: flex;
                flex-direction: column;

                h2 {
                    margin-bottom: 20px;
                }

                .main_blocks {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 20px;

                    .item {
                        width: 100px;
                        height: 120px;
                        background-color: white;
                        display: flex;
                        flex-direction: column;

                        .item_top {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            background-color: #1F5197;
                            height: 66%;
                            padding: 5px;

                            .text {
                                margin-bottom: 5px;
                                font-size: 12px;
                                font-weight: 600;
                            }

                            .number {
                                font-size: 22px;
                                font-weight: 600;
                            }
                        }

                        .item_bottom {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #2869B7;
                            height: 35%;
                        }
                    }

                    .blue {
                        .item_top {
                            background-color: #2D71BE;
                        }

                        .item_bottom {
                            background-color: #3786DB;
                        }
                    }
                }

                .btn {
                    width: 200px;
                    height: 35px;
                    background: none;
                    color: white;
                    border-radius: 12px;
                    border: 2px solid white;
                    cursor: pointer;
                    margin-top: 50px;
                    transition: .3s ease;

                    &:hover {
                        color: rgb(156, 145, 145);
                    }
                }
            }
        }
    }

    .main_right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .main_right_ml {
            width: 100%;
            height: 93%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 30px;

            img {
                width: 30px;
                height: 28px;
                object-fit: cover;
                cursor: pointer;
            }

            .block_ml {
                width: 135px;
                height: 172px;
                background-color: #3786DB;
                display: flex;
                flex-direction: column;
                padding: 15px;
                position: relative;

                .block_span {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    color: white;

                    .text_ml {
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .serving_text {
                        font-size: 12px;
                        font-weight: 700;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    .serving_text1 {
                        font-size: 12px;
                        font-weight: 700;
                    }

                    .serving_text2 {
                        font-size: 12px;
                        font-weight: 700;
                    }
                }

                .block_color {
                    background-color: #2863B2;
                    width: 135px;
                    height: 50px;
                    left: 0px;
                    bottom: 0px;
                    position: absolute;
                }
            }
        }
    }

}

.aziz {
    height: 100vh;
    .pepsi_buttle {
        position: absolute;
        bottom: 20%;
        left: 42%;
        width: 400px;
        transition: .7s ease;
    }
    .pepsi_buttle_active {
         position: absolute;
        bottom: -100% !important;
    }
}

.toBottom {
    position: absolute;
    bottom: -100% !important;
    left: 0px;
    right: 0px;
}

.main_left {
    position: absolute;
    top: 35%;
    left: -100%;
    transition: .7s ease;
}
.main_right {
    position: absolute;
    top: 20%;
    right: -100%;
    transition: .7s ease;
}
.main_right_img {
    position: absolute;
    top: 10%;
    right: -100%;
}

.active_right{
    right: 10% !important;
}
.active_left{
    left: 10% !important;
}